/*
 * android heightlight
 */
//* {
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//}
//input {
//  -webkit-user-select: auto;
//}

/**
 * iPad on ios7 issue
 * link: http://stackoverflow.com/questions/19012135/ios-7-ipad-safari-landscape-innerheight-outerheight-layout-issue/19449123#19449123
 */
@media (orientation:landscape) {
  html.ipad.ios7 > body {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 672px !important;
  }
}
