@import 'nib'

/*
 * layout.styl
 */
display(type)
  if box == type
    for prefix in vendor-prefixes
      if official == prefix
        display: box
      else
        display: '-%s-box' % prefix
  else
    display: type

.hbox {
	display: box;
	box-orient: horizontal;
}

.vbox {
	display: box;
	box-orient: vertical;
}
for i in (1..10)
	.flex{i}
		box-flex: i
		-ms-flex: i 0 auto