.list-view {
  /*
	* style while this li is in editing
	* .list-view.editing
	*/
}
.list-view li {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}
.list-view li .item-content {
  margin-left: -20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.list-view li .item-content:before {
  font-family: Ratchicons;
  content: '\e81c';
  display: inline-block;
  width: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.list-view li.selected .item-content:before {
  content: '\e81b';
}
.list-view.editing li .item-content {
  margin-left: 0px;
}
.list-view.editing li .item-content:before {
  visibility: visible;
  opacity: 1;
}
