<div data-view="components/listviewdemo">

	<div id="demo-list" class="listview" style="top: 50px;">
    <div class="scroller">
      <div class="pulldown">
        <span class="icon"></span><span class="label"></span>
      </div>
      <ul>
      </ul>
      <button class="loadmore btn btn-block btn-outlined">
        <div class="label">加载更多</div>
        <span class="icon"></span>
      </button>
      <div class="message">
        <div class="empty">没有数据</div>
        <div class="error">数据加载失败</div>
      </div>
    </div>
  </div>

  <div class="hbox">
    <div class="flex1">
      <button id="edit">Edit</button>
    </div>
    <div class="flex1">
      <button id="refresh">Refresh</button>
    </div>
    <div class="flex1">
      <button id="selectedItems">selectedItems</button>
    </div>
    <div class="flex1">
      <button id="selectedIndexes">selectedIndexes</button>
    </div>
  </div>

</div>