<div data-view="components/listview">

	<div id="demo-list" class="listview" style="top: 50px;">
    <div class="scroller">
      <div class="pulldown">
        <span class="icon"></span><span class="label"></span>
      </div>
      <ul>
      </ul>
      <button class="loadmore btn btn-block btn-outlined">
        <div class="label">加载更多</div>
        <span class="icon"></span>
      </button>
    </div>
  </div>

  <button id="action" style="position:fixed; z-index:99;">Action</button>

</div>