<div id="spin-demo" data-view="components/spin">

	<div id="example">
	  <h2>Example</h2>
	  <div id="preview"></div>
	  <form id="opts">
	    <label>Lines:</label><input type="text" name="lines" min="5" max="16" step="2" value="12"><br>
	    <label>Length:</label><input type="text" name="length" min="0" max="40" value="20"><br>
	    <label>Width:</label><input type="text" name="width" min="2" max="30" value="10"><br>
	    <label>Radius:</label><input type="text" name="radius" min="0" max="60" value="30"><br>
	    <label>Corners:</label><input type="text" name="corners" min="0" max="1" step="0.1" value="1"><br>
	    <label>Rotate:</label><input type="text" name="rotate" min="0" max="90" value="0"><br>
	    <label>Trail:</label><input type="text" name="trail" min="10" max="100" value="60"><br>
	    <label>Speed:</label><input type="text" name="speed" min="0.5" max="2.2" step="0.1" value="1"><br>
	    <label>Direction:</label>
	    <select name="direction">
	      <option value="1">Clockwise</option>
	      <option value="-1">Counterclockwise</option>
	    </select>
	    <br>
	    <label>Shadow:</label><input type="checkbox" name="shadow"><br>
	    <label>Hwaccel:</label><input type="checkbox" name="hwaccel"><br>
	  </form>

	</div>

</div>